{% extends "13.bootstrap.html" %}
{% block title %}Scatter Plot{% endblock %}
{% block subtitle %}산점도<i class="fas fa-home"></i>{% endblock %}
{% block content %}
<form action="/scatter", method="post" style="margin-top: 5%; margin-left: 10%; margin-right: 0;">
    <table>
        <tr>
            <td style="width: 35%; font-size: x-large;"><label class="col-form-label"></label>점의 갯수</td>
            <td style="width: 35%;"><input type="text" class="form-control" name="num"></td>
        </tr>
        <tr>
            <td style="width: 35%; font-size: x-large;"><label class="col-form-label"></label>X 평균</td>
            <td style="width: 35%;"><input type="text" class="form-control" name="mean"></td>
        </tr>
        <tr>
            <td style="width: 35%; font-size: x-large;"><label class="col-form-label"></label>X 표준편차</td>
            <td style="width: 35%;"><input type="text" class="form-control" name="std"></td>
        </tr>
        <tr>
            <td style="width: 35%; font-size: x-large;"><label class="col-form-label"></label>Y 최소값</td>
            <td style="width: 35%;"><input type="text" class="form-control" name="min"></td>
        </tr>
        <tr>
            <td style="width: 35%; font-size: x-large;"><label class="col-form-label"></label>Y 최대값</td>
            <td style="width: 35%;"><input type="text" class="form-control" name="max"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="확인"></td>
        </tr>
    </table>
</form>
{% endblock %}