{% extends "prototype/base.html" %}
{% block title %}Home{% endblock %}
{% block weather %}{{weather | safe()}}{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block content %} 
<div class="container-fluid"> 
    <h3 class="h_popular"><span>인기 검색 종목</span></h3> 
    <table class="tbl_home"> 
     <colgroup> 
      <col> 
      <col width="60"> 
      <col width="65"> 
     </colgroup> 
     <thead> 
      <tr> 
       <th scope="col">구분</th> 
       <th scope="col">현재가</th> 
       <th scope="col">전일대비</th> 
      </tr> 
     </thead> 
     <tbody> 
      <tr class="down"><th scope="row"><em>1.</em><a href="/item/main.naver?code=086520" onclick="clickcr(this, &quot;boa.list&quot;, &quot;086520&quot;, &quot;1&quot;, event);">에코프로</a></th><td>623,000</td><td><em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01"> 15,000 </span></td></tr> 
      <tr class="down"><th scope="row"><em>2.</em><a href="/item/main.naver?code=004690" onclick="clickcr(this, &quot;boa.list&quot;, &quot;004690&quot;, &quot;2&quot;, event);">삼천리</a></th><td>133,300</td><td><em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01"> 8,100 </span></td></tr> 
      <tr class="down"><th scope="row"><em>3.</em><a href="/item/main.naver?code=005930" onclick="clickcr(this, &quot;boa.list&quot;, &quot;005930&quot;, &quot;3&quot;, event);">삼성전자</a></th><td>65,300</td><td><em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01"> 600 </span></td></tr> 
      <tr class="up"><th scope="row"><em>4.</em><a href="/item/main.naver?code=005490" onclick="clickcr(this, &quot;boa.list&quot;, &quot;005490&quot;, &quot;4&quot;, event);">POSCO홀딩스</a></th><td>372,000</td><td><em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02"> 4,500 </span></td></tr> 
      <tr class="down"><th scope="row"><em>5.</em><a href="/item/main.naver?code=047820" onclick="clickcr(this, &quot;boa.list&quot;, &quot;047820&quot;, &quot;5&quot;, event);">초록뱀미디어</a></th><td>6,450</td><td><em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01"> 2,640 </span></td></tr> 
     </tbody> 
   </div>
{% endblock %}
