{% extends "prototype/base.html" %}
{% block title %}Home{% endblock %}
{% block subtitle %}베스트셀러<i class="fas fa-home"></i>{% endblock %}
{% block content %}
<table border="1" style="margin-top: 2%; width: 1200px;">
    <tr>
        <th style="text-align: center;">순위</th>
        <th style="text-align: center;">이미지</th>
        <th style="text-align: center;">제목</th>
        <th style="text-align: center;">저자</th>
        <th style="text-align: center;">출판사</th>
        <th style="text-align: center;">가격</th>
    </tr>
    {% for book in book_list %}
    <tr>
        <td style="text-align: center;">{{book.순위}}</td>
        <td style="text-align: center;"><img src="{{book.img}}" height="40"></td>
        <td style="text-align: center;"><a href="{{book.href}}" target="_blank">{{book.제목}}</a></td>
        <td style="text-align: center;">{{book.저자}}</td>
        <td style="text-align: center;">{{book.출판사}}</td>
        <td style="text-align: center;">{{book.가격}}</td>
    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}